<html>
<head>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/blog/css/base.css" rel="stylesheet">

    <script src="/static/blog/js/base.js"></script>
    <!-- Custom styles for this template -->
</head>

<body>
    <div>
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <a class="main-name" href="http://www.tanqiaoxing.com">言荇</a>
              </div>
              <div>
                  <ul class="nav navbar-nav navbar-right">
                      <!-- <% for category in category_list %> -->
                          <li id="navbarLi1">
                              <a href="{% url 'blog:detail' pk=1 %}">寓言故事</a>
                          </li>
                          <li id="navbarLi2">
                              <a href="{% url 'blog:comic' pk=2 %}">动漫乐园</a>
                          </li>
                          <li id="navbarLi3">
                              <a href="{% url 'blog:poem' pk=3 %}">诗词欣赏</a>
                          </li>
                          <li id="navbarLi4">
                              <a href="{% url 'blog:nature' pk=4 %}">自然天地</a>
                          </li>
                          <li id="navbarLi5">
                              <a href="{% url 'blog:funny' pk=5 %}">开心一笑</a>
                          </li>
                      <!-- <% endfor %> -->
                  </ul>
              </div>
          </div>
      </nav>
    </div>
    {% block content %}
    {% endblock %}

</body>
</html>