<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>言荇</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/blog/css/detail.css" rel="stylesheet">

    <!-- Custom styles for this template -->


 </head>

 <body>
    {% extends "blog/base.html" %}
    {% block content %}
    <div class="container">
    	<div class="main ft0">
    		<div class="story-main">
		        <div class="story">
                    <h3 class="story-title">{{ comic.title }}</h3>
                    <p>{{ comic.body|safe }}</p>
		        </div>
                <div class="comment-area">
                    <div>
                        <p class="comment-submit-title">畅所欲言</p>
                    </div>
                    <form action="{% url 'comments:comic_comment' comic.pk %}" method="post" class="comment-form">
                        {% csrf_token %}
                        <div>
                            <div class="dis-flex flex-between">
                                <div>
                                    <label for="{{ form.name.id_for_label }}">名字</label>
                                    {{ form.name }}
                                    {{ form.name.errors }}
                                </div>
                                <div>
                                    <label for="{{ form.email.id_for_label }}">邮箱</label>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </div>
                            </div>
                            <div class="dis-flex" style="width:100%">
                                <label class="ver-t" for="{{ form.text.id_for_label }}">评论</label>
                                <div class="flex1">
                                    {{ form.text }}
                                    {{ form.text.errors }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="comment-btn">发表</button>
                    </form>
                </div>
                <div class="comment-content">
                    <p class="comment-submit-title">评论区</p>
                    <ul>
                        {% for comment in comment_list %}
                        <li class="comment-content-li">
                            <p class="comment-name">{{ comment.name }}</p>
                            <div>{{ comment.text }}</div>
                            <p class="comment-time mt10">{{ comment.created_time|date:"Y-m-d H:i" }}</p>
                        </li>
                        {% empty %}
                        暂无评论
                        {% endfor %}
                    </ul>
                </div>
		    </div>
            <div class="story-list">
                <div class="story-list-border">
                    <p class="other color-other">其他</p>
                    <div class="list">
                        {% for comic in comic_list %}
                            <div class="ft14 lh24">
                                <a href="{% url 'blog:comic' comic.id %}">{{ comic.title }}</a>
                             <!--    <a href="{{ comic.get_absolute_url }}">{{ comic.title }}</a> -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    	</div>
    </div>
    {% endblock %}
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>