<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>言荇</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/blog/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/blog/css/index.css">

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/blog/js/index.js"></script>
    <!-- Custom styles for this template -->
    <!-- <link href="starter-template.css" rel="stylesheet"> -->

 </head>

 <body>
    {% extends "blog/base.html" %}
    {% block content %}
    <div class="all">
        <div class="first">
            <div class="bg"></div>
            <div class="container">
                <div class="main">
                    <p class="desc text-c">Back to childhood</p>
                    <div class="text">
                        <p>我要挽那“过去”的年光</p>
                        <p>但时间的经纬里</p>
                        <p>已织上了“现在”的丝了</p>
                    </div>
                </div>
            </div>
            <div class="more">
                <span class="moreBtn">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <span>Find more</span>
                </span>
            </div>
        </div>
        <div class="second">
            <div class="container1">
                <div class="module">
                    <div class="module-same module-fable">
                        <div class="container">
                            <p class="title">
                                <span class="title-icon icon-new-l"></span>
                                <span>寓言</span>
                                <!-- <i class="fa fa-bell" aria-hidden="true"></i> -->
                                <span>故事</span>
                                <span class="title-icon icon-new-r"></span>
                            </p>
                            <ul class="dis-flex flex-between fable-text">
                                {% for post in post_list %}
                                <li>
                                    <p class="fable-text-title text-c">
                                        <span>{{ post.title }}</span>
                                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                                    </p>
                                    <p class="fable-text-content">{{ post.body }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            <p class="text-c">
                                <span>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="module-same-bg">
                        <div class="container">
                            <p class="title">
                                <span>动漫</span>
                                <i class="fa fa-film" aria-hidden="true"></i>
                                <span>乐园</span>
                            </p>
                            <ul class="dis-flex flex-between module-text img-text">
                                {% for comic in comic_list %}
                                <li>
                                    <div class="comic-img-div">
                                        <img src="/media/{{comic.img}}" />
                                        <div class="mask"></div>
                                    </div>
                                    <p>{{ comic.experpt }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            <p class="text-c">
                                <span>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="module-same">
                        <div class="container">
                            <p class="title">
                                <span class="title-icon icon-new-l3"></span>
                                <span>诗词</span>
                                <span>欣赏</span>
                                <span class="title-icon icon-new-r3"></span>
                            </p>
                            <ul class="poem-text dis-flex flex-between">
                                {% for poem in poem_list %}
                                <li>
                                    <a href="{% url 'blog:poem' poem.id %}">
                                        <p class="poem-text-title text-c">
                                            <span>{{ poem.title }}</span>
                                            <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                        </p>
                                        <p class="poem-text-content text-c hiddenThree">{{ poem.body|safe }}</p>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                            <p class="text-c">
                                <span>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="module-same-bg">
                        <div class="container">
                            <p class="title">
                                <span>自然</span>
                                <i class="fa fa-leaf" aria-hidden="true"></i>
                                <span>天地</span>
                            </p>
                            <ul class="dis-flex flex-between module-text img-text">
                                {% for nature in nature_list %}
                                <li>
                                    <div class="nature-img-div">
                                        <img src="/media/{{nature.img}}" />
                                        <div class="mask"></div>
                                    </div>
                                    <p>{{ nature.experpt }}</p>
                                </li>
                                {% endfor %}
                            </ul>
                            <p class="text-c">
                                <span>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

</body>
</html>